body{
  background: aquamarine;
  font-family: American Typewriter, serif;
  
}

h1 > span{
  display:none;
  font-size: 400px;
}

h1 > span.show{
  display: inline-block;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}